body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
}

.troll-video {
    width: 90%;
    max-width: 700px;
    margin-top: 20px;
    border-radius: 12px;
    border: 3px solid #fff;
}
